My Agent Personal-3.json
{
  "name": "My Agent Personal",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 20
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -16
      ],
      "id": "455c2804-db4e-4836-9dd5-462fc2a058d1",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тема повідомлення:  {{ $json.Subject }}\nТекст повідомлення: {{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ти - Михайло Пацан, інвестор, підприємець, дружелюбно відповідаєш на запитання, які тобі приходять на пошту.\nКористувач надає тобі Тему та Текст Повідомлення на яке треба дати відповідь.\nВиконай наступні дії:\n1. Проаналізуй повідомлення і надай на нього прямолінійну відповідь\n2. Відповідай в дружньому тсилі\n\nВідповідай мовою, яка написана в Текст повідомлення\n\nВідповідь надай в валідному форматі JSON який має наступну структуру:\n{\n  \"topic\": \"Приклад теми\",\n  \"message_draft\": \"Чернетка повідомлення, яку можна буде відредагувати та надіслати.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -16
      ],
      "id": "b7f204e7-19da-4fe1-8743-11143ffe485d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        160
      ],
      "id": "f2020728-52a6-47da-9d72-7c1a61d853f9",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        160
      ],
      "id": "61de7b11-3494-4a83-ac0d-dadac07291f1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"topic\": \"Приклад теми\",\n  \"message_draft\": \"Чернетка повідомлення, яку можна буде відредагувати та надіслати.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        160
      ],
      "id": "4f256da6-ed00-44b5-b299-655252e6f119",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.topic }}",
        "message": "={{ $json.output.message_draft }}",
        "options": {
          "replyTo": "={{ $('Gmail Trigger').item.json.From }}",
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        -16
      ],
      "id": "efd60574-1ef7-4823-b93f-01d772ec5c68",
      "name": "Create a draft"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Gmail Trigger').item.json.From }}",
            "draft": "={{ $('AI Agent').item.json.output.message_draft }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft",
              "displayName": "draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -16
      ],
      "id": "acf6a72c-1617-46e7-9e45-cde82214ccef",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 20
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        944,
        464
      ],
      "id": "566a9131-2982-47b2-a8a8-8c2da2b98475",
      "name": "Gmail Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тема повідомлення:  {{ $json.Subject }}\nТекст повідомлення: {{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ти - Михайло Пацан, інвестор, підприємець, дружелюбно відповідаєш на запитання, які тобі приходять на пошту.\nКористувач надає тобі Тему та Текст Повідомлення на яке треба дати відповідь.\nВиконай наступні дії:\n1. Проаналізуй повідомлення і надай на нього прямолінійну відповідь\n2. Відповідай в дружньому стилі\n3. Використай інструмент Google Sheets і додай туди необхідну інформацію\n4. Створи драфт повідомлення на Gmail і додай туди необхідну інформацію\n\nВідповідай мовою, яка написана в Текст повідомлення\n\nВідповідь надай в валідному форматі JSON який має наступну структуру:\n{\n  \"topic\": \"Приклад теми\",\n  \"message_draft\": \"Чернетка повідомлення, яку можна буде відредагувати та надіслати.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1152,
        464
      ],
      "id": "f2d0e619-0674-44dc-b02c-2784c1292fcb",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        672
      ],
      "id": "98cc2895-76a1-4178-abeb-f7458948c87e",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1168,
        672
      ],
      "id": "d19811c5-c3d2-430d-b72b-05e99bfec789",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"topic\": \"Приклад теми\",\n  \"message_draft\": \"Чернетка повідомлення, яку можна буде відредагувати та надіслати.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1664,
        640
      ],
      "id": "3b45d0fd-7f38-4cc8-a580-6f7fd01ebacd",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Тема листа для відповіді`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Текст листа для відповіді`, 'string') }}",
        "options": {
          "replyTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Send_Replies_To', `email кому відповідають`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1456,
        672
      ],
      "id": "a3998d8e-1b84-4059-9c45-3692fff8d2f9",
      "name": "Create a draft in Gmail"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('to', `email кому буде відправлено повідомлення`, 'string') }}",
            "draft": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('draft', `Текст листа що буде відправлено`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft",
              "displayName": "draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1312,
        672
      ],
      "id": "8944e213-193c-4270-b7b8-59435e8d066d",
      "name": "Append row in sheet in Google Sheets"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}